@model IEnumerable<Live.DAL.DataBase.User>
<style>
    .frame {
        height: 200px; /* equals max image height */
        width: 100%;
        white-space: nowrap;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }

    .imgWrap {
        vertical-align: middle;
        max-height: 250px;
        margin: 0;
        width: 80%;
    }
</style>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <input type="text" id="newFrandName" value="" placeholder="new frand name">  
    <input type='button' id="add" value='add frand'>

</p>
<div class="row">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="padding:0px; height: 380px">

                    <div class=frame>
                        <span class="helper"></span>
                        <img src="@Url.Action("GetImageById", "Profile", new { Id = item.Id })" class="imgWrap" />
                    </div>

                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.City)</p>
                        <p>
                            <a href="@Url.Action("Show", "Chats", new { userId = item.Id})" class="btn btn-primary" role="button">Chat</a>
                            <a href="@Url.Action("ShowProfile", "Profile", new { id = item.Id })" class="btn btn-default" role="button">Show</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>


<script type="text/javascript">
    $(function () {
        $('#add').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/Friends/AddFriend',
                data: { name: $("#newFrandName").val() },
                success: function (data, textStatus, jqXHR) {
                    // jqXHR.status contains the Response.Status set on the server
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // jqXHR.status contains the Response.Status set on the server
                }
                    });
        });
    });
</script>
